body{
  background-color: #ffffff;
  margin: 0;
}

h1 {
  font-family: 'Geologica';
  font-weight: 500;
  font-size: 30pt;
  color: black;
  text-align: left;
}

h2 {
  font-family: 'Geologica';
  font-weight: 500;
  font-size: 20pt;
  color: black;
  text-align: left;
}

h3 {
  font-family: 'Geologica';
  font-weight: 400;
  font-size: 20pt;
  color: black;
  text-align: left;
}

p {
  font-family: 'Geologica';
  font-weight: 200;
  font-size: 15pt;
  color: black;
  text-align: left;
}

a {
  text-decoration: none;
  font-family: 'Geologica';
  font-weight: 200;
  font-size: 15pt;
  color: black;
  text-align: left;
}

.header {
  height: 75px;
  display: flex;
  background: #00504E;
}

.navigation_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
}

.naviagation_list {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}

.header_item {
  display: flex;
  align-items: center;
  color: white;
  height: 100%;
  font-weight: 400;
  text-align: left;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
}

.header_item:hover {
  background-color: #EA2929;
}

#offces_menu:hover {
  background-color: transparent;
}

.header_link {
  font-size: 13pt;
  text-align: center;
  margin: 0, auto;
  color: white;
}

.user_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  float: right;
  margin-right: 20px;
}

.user_info p {
  color: white;
  margin: 20px;
}

.user_info a {
  color: white;
}

.underline {
  height: 3px;
  background-color: #EA2929;
}

.content {
  margin: 40px;
}

.contet_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.table_wrapper {
  margin-top: 40px;
  width: 100%;
}

table, th, td {
  border-collapse: collapse;
}

.sort_image {
  height: 15px;
  width: 15px;
}

.sort_image:hover {
  rotate: 180deg;
}

.items_table {
  margin: 0, auto;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  background: #EDEDED;
}

tr {
  height: 40px;
}

th {
  font-family: 'Geologica';
  font-weight: 400;
  font-size: 12pt;
  color: white;
  text-align: left;
  background: #767676;
}

.table_row_wrapper {
  font-family: 'Geologica';
  font-weight: 200;
  font-size: 12pt;
  color: black;
  text-align: left;
}

td {
  font-family: 'Geologica';
  font-weight: 200;
  font-size: 12pt;
  color: black;
  text-align: left;
}

.create_report {
  margin-left: 20px;
  font-size: 12pt;
}


/* office menu */

.office_menu {
  display: none;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
}

.office_menu_head {
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #EA2929;
  color: black;
}

.office_menu h2 {
  padding-left: 40px;
  font-size: 35px;
}

.close_button {
  float: right;
  margin-right: 20px; 
  height: 30px;
  width: 30px;
}

.offices_wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #00504E;
  color: white;
}

.offices_wrapper a {
  padding-left: 20px;
}

.offices_wrapper h3 {
  font-size: 14pt;
  color: white;
}

.office_container:hover {
  background-color: #EA2929;
}

.detail_view_wrapper {
  display: flex;
  flex-direction: column;
}

.qr_code {
  height: 350px;
  width: 350px;
}