{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{% static 'css/styles.css' %}" rel = "stylesheet">

    <!-- Получение шрифтов -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'images/sitelogo.png' %}" type="image/x-icon"/>

    <title>{{ title }}</title>
</head>
<body>
    <header class="header">
        <div class="navigation_bar">
            <ul class="naviagation_list">
                <li class="header_item">
                    <div class="menu-btn" onclick="toggleMenu()">&#9776;</div>
                </li>
                <li class="header_item">
                    <a href="{% url 'items_list' office_building_slug %}" class="header_link">Обьекты учета</a>
                </li>
                <li class="header_item">
                    <a href="!#" class="header_link">Лицензии</a>
                </li>
                <li class="header_item">
                    <a href="!#" class="header_link">Отчёты</a>
                </li>
                <li class="header_item">
                    <a href="!#" class="header_link">Сотрудники</a>
                </li>
            </ul>
        </div>
        <div class="user_info">
            {% if request.user.is_authenticated %}
                <p>Вы авторизованы как: <a>{{ user.username }}</a></p>
                <a href="{% url 'site_logout' %}">Выйти</a>
            {% endif %}
        </div>
    </header>
    <div class="underline"></div>
    
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <script>

    </script>
</body>
</html>