{% extends 'items_management/base.html' %}

{% block content %}
    <div>
        <img src="{{ item.get_qr_code }}">
        <h2>Основные данные</h1>
        <h3>Инвентарный номер: {{item.item_number}}</h1>
        <h3>Имя: {{item.name}}</h2>
        <p>Материально ответсвенное лицо: {{item.financially_responsible_person}}</p>
        <p>Тип: {{item.type}}</p>
        <p>Помещение: {{item.office}}</p>

        
        <h2>Данные бухгалтерского учёта</h2>
        <p>Стоимость: {{item.value}}</p>
        <p>Кол-во: {{item.amount}}</p>

        <h2>Данные с последней инвтаризации</h2>
        <p>Оценочная стоимость: {{item.assessed_value}}</p>
        <p>Кол-во: {{item.amount}}</p>
        <p>Статус: {{item.status}}</p>
        <p>Действительно на: {{item.valid_from}}</p>
    </div>
{% endblock %}