{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{% static 'css/styles.css' %}" rel = "stylesheet">

    <!-- Получение шрифтов -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">
    
    <link rel="shortcut icon" href="{% static 'images/sitelogo.png' %}" type="image/x-icon"/>

    <title>Авторизация</title>
</head>
<body>
    {% if request.user.is_superuser %}
        <a href="{% url 'site_register' %}">Форма для регистрации новых пользователей</a>
    {% endif %}

    <div class="login_container">
        <form method="post">
            <img src="{% static 'images/sitelogo.png' %}">
            <h2 class="head_form">Вход</h2>
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Авторизация" class="submit_button"></p>
        </form>
    </div>
</body>
</html>