{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
</head>
<body>
    {% if request.user.is_superuser %}
        <a href="{% url 'site_register' %}">Форма для регистрации новых пользователей</a>
    {% endif %}

    <h1>Авторизация</h1>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Авторизация"></p>
    </form>
</body>
</html>