{% extends 'items_management/base.html' %}
{% load static %}

{% block content %}
    <h1>Пользователи</h1>

    <div>
        <h3>Суперадмин: </h3>
        <p>{{ superadmin.first_name }} {{superadmin.last_name}}</p>
        <p>{{ superadmin.email }}</p>
    </div>

    <div>
        <h3>Локальный Администратор: </h3>
        <p>{{ local_admin.first_name }} {{ local_admin.last_name }}</p>
        <p>{{ local_admin.email }}</p>
    </div>

    <div>
        <h3>Отвественные за инвентаризацию: </h3>
        {% for user in stacktalking_responsibles %}
            <h3>{{ user.first_name }}, {{ user.last_name }}</h3>
            <p>{{ user.email }}</p>
        {% endfor %}   
    </div>

    {% for user in users %}
        <div>
            <h3>{{ user.first_name }}, {{ user.last_name }}</h3>
            <p>{{ user.email }}</p>
        </div>
    {% endfor %}
{% endblock %}